@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a mechanic</h2>

<h4>Add a mechanic to this machine: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select mechanic")
  @Html.DropDownList("MechanicId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
